<!DOCTYPE html>
{% load static %}  

<html ng-app="quizApp">
<head>
  <meta charset="utf-8" />
  <title>QuizApp</title>
  <link rel="stylesheet" href="{% static "style.css" %}"/>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script>
      var template = "{% static 'template.html' %}";
  </script>
  <script src="{% static "app.js" %}"/></script>
</head>

<body>
    {% verbatim %}  
  <div class="container">
    <h1 class="title">QuizApp</h1>
    <quiz/>
  </div>
  {% endverbatim %}
</body>

</html>
